/* Footer section */


.footer{
    background-color: #000000;
    width: auto;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-body);
    color: #DCDBDB;
    display: flex;
    flex-direction: column;
}
  
.footer-text{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.mentions{
    font-size: 1.3rem;
}

.underline{
    text-decoration: underline;
}
  
@media screen and (max-width:280px){
  
    .footer-text{
      font-size: .5rem;
    }
}