.main--post{
    background: url(../images/waarmmountains.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    margin-inline: auto;
    padding: 10rem;
    padding-top: 5rem;
    font-family: var(--ff-body);
}

.sortby{
    width: 150px;
    height: 30px;
    background-color: var(--clr-primary);
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    padding: 2rem;
    cursor: pointer;
    transition: trasform 0.3s;
}

.sortby:hover .sort__icon{
    transform: rotate(180deg);
}

.sort__icon{
    width: 20px;
    height: 15px;
    margin-left: 1rem;
}

.post--post{
    background-color: var(--clr-primary);
    position: relative;
    margin-bottom: 25rem;
}

.ribbon{
    background-color: var(--clr-accent);
    position: absolute;
    right: -2rem;
    top: 5rem;
    color: var(--clr-light);
    font-family: var(--ff-heading);
    padding: 1rem;
    border-radius: 10px;
}

.ribbon:hover{
    background-color: var(--clr-dark);
}


.post__header--post{
    background-color: var(--clr-accent);
    height: 2.2rem;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #ffffff;
    font-family: var(--ff-heading);
    font-size: 1.5rem;
}
  
.post__header__content--post{
    margin-left: 1rem;
}

h1{
    text-align: center;
}

.post__heading--post{
    font-family: 'Noto Sans Mono', monospace;
}

.post__content--post{
    padding: 4rem;
}

.post__text--post{
    font-size: 1.7rem;
    text-align: justify;
}

figure{
    float: left;
    margin-right: 3rem;
}

figure:nth-of-type(even){
    float: right;
    margin-left: 3rem;
}

figcaption{
    color: rgb(46, 46, 46);
    font-size: 1.3rem;
    margin: 1rem;

}

.post__info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
}

.avatar{
    box-sizing: content-box;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 5px solid var(--clr-primary);
    transition: transform .1s;
    float: left;
    margin-right: 2rem;
}

.avatar:hover{
    transform: scale(1.05);
}

.self-clear:after {
    content: "";
    clear: both;
    display: table;
}

.avatar-text{
    font-size: 1.5rem;
    color: var(--clr-primary);
    font-family: var(--ff-body);
    font-weight: 900;
    transition: transform 0.3s;
}
.avatar-text:hover {
    transform: scale(1.1);
}

.avatar-name{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.highlight-container, .highlight {
    position: relative;
}
  
.highlight-container {
    display: inline-block;
}

.highlight-container:before {
    content: " ";
    display: block;
    height: 90%;
    width: 94%;
    margin-left: -3px;
    margin-right: -3px;
    position: absolute;
    background: var(--clr-accent);
    transform: rotate(2deg);
    top: -1px;
    left: 40px;
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
}

.post__footer--post{
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1.5fr;
    justify-content: stretch;
    font-family: var(--ff-body);
    font-size: 1.7rem;
}

.icon--post{
    width: 30px;
    height: 30px;
    margin: .5rem 1rem;
    transition: transform .15s;
}

.icon--post:hover{
    transform: scale(1.25);
}

.post__toggle .btn{
    width: 100%;
    height: 100%;
}

.post__share{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}


@media screen and (max-width:600px){

    .main--post{
        padding: 3rem;
    }

    .post__heading--post{
        font-size: 2rem;
    }

    .post__content--post{
        padding: 2rem;
    }

    .post__text--post{
        font-size: 1.3rem;
    }

    .post__footer--post{
        font-size: 1rem;
    }

    .icon--post{
        width: 10px;
        height: 10px;
        margin-top: .1rem;
        margin-bottom: .1rem;
    }

}


@media screen and (max-width:1072px){

    .post__text--post{
        text-align: left;
    }

    .icon--post{
        width: 18px;
        height: 18px;
        margin-top: .2rem;
        margin-bottom: .2rem;
    }

    .post__footer--post{
        padding: .5rem;
        font-size: 1.3rem;
    }

    .avatar{
        width: 80px;
        height: 80px;
    }

    .avatar-text{
        font-size: 1.3rem;
    }

    .avatar-name{
    font-size: 1.6rem;
    }

    .ribbon{
        right: -1rem;
        top: 3rem;
        padding: .5rem;
        font-size: 1rem;
        border-radius: 10px;
    }

}


@media screen and (max-width: 800px){

    .post__footer--post{
        grid-template-columns: 1fr 1fr;
    }

    .post__share{
        grid-column: span 2;
    }

    .icon--post{
        margin: 1rem;
    }

    .ribbon{
        top: 15rem;
    }
}