/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removing margins from everything */
* {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

/* Set core body defaults */
body {
    height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.3;
    
  }
  

  
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* -------------------------------------------------------------------------------------------------------*/

/* Setting custom properties */


@font-face{
  font-family: "Type Machine";
  src: url(../fonts/Type\ Machine.ttf);
}

@font-face{
  font-family: "Monton";
  src: url(../fonts/Monoton-Regular.ttf);
}


@font-face{
  font-family: "Pac Font";
  src: url(../fonts/PAC-FONT.TTF);
}

@font-face{
  font-family: "Underground";
  src: url(../fonts/UndergroundNF.ttf);
}

@font-face{
  font-family: "Arcade";
  src: url(../fonts/ARCADECLASSIC.TTF);
}

@font-face {
  font-family: "Gtek Technology";
  src: url(../fonts/GtekTechnology-B9aB.ttf);
}


:root{
    --ff-primary: "Gtek Technology", serif;
    --ff-text: "Type Machine", monospace;

    --ff-body: var(--ff-text);
    --ff-heading: var(--ff-primary);
    --clr-primary: #BBBCBB;
    --clr-accent: #07037E;

}


::selection{
  background-color: #FFFEDD;
}


/* -------------------------------------------------------------------------------------------------------*/


/* Code */

.navbar{
    background: rgb(225,224,224);
    background: linear-gradient(90deg, rgba(225,224,224,1) 7%, rgba(128,128,128,1) 77%, rgba(78,78,78,1) 100%);
    border-bottom: 5px solid #808080;
    border-right: 5px solid #808080;
    border-left: 5px solid #e1e0e0;
    border-top: 5px solid #e1e0e0;
    box-shadow: 4px 4px 0 2px;
    margin: 5px;
   
    
}

.nav__item{
    padding: .2rem 0.5rem 0rem .5rem;
    font-family: var(--ff-primary);
    font-size: 1.3rem;
    margin: 0.5rem 1.5rem;
 
    
}

.nav__item a {
  align-items: center;
}


.nav__item:hover{
  box-shadow: 0 0 5px 0 #7b7b7b;
}


@media screen and (min-width: 800px){

    .navbar{
        background: rgb(78,78,78);
        background: linear-gradient(90deg, rgba(78,78,78,1) 2%, rgba(128,128,128,1) 61%, rgba(225,224,224,1) 100%);
    }

    .nav__list{
        display: flex;
        width: auto;
        justify-content: flex-end;
        padding: .5rem;

        
    }

 
    
}

.main{
  background: url(../images/flat-mountains.svg);
  background-position: center;
  font-family: var(--ff-body);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100vh;

}








/*---------------------------------------------------------------------------------------------------------*/

.hero{
  display: grid;
  overflow: hidden;
  max-width: auto;
  max-height: 93%;
  grid-template: 60% 40%/ 30% 40% 20%;
  grid-template-areas: "one one two" "three four two";
  column-gap: 8rem;
  row-gap: 5rem;
  padding:5rem 5rem 3rem 5rem;


  

  

}


@media screen and (max-width: 480px){

  .hero{
    grid-template: 200px 100pxfr / 200px 100px 100px;
  }

}

@media screen and (min-width: 481px) and (min-width:980px){

  .hero{
    grid-template: 250px 150pxfr / 300px 150px 150px;
  }

}






.square{
  background-color: white;
}

.one{
  grid-area: one;
}

.two{
  grid-area: two;
}
.three{
  grid-area: three;
}

.four{
  grid-area: four;
}



/*----------------------------------------------------------------------------------------------------------*/
/*BOX*/

.box{
  background-color: #DCDBDB;
  padding: 4rem 3rem 3rem;
  display: inline-block;
  color: #000000;
  font-weight: bold;
  position: relative;
  font-size: 1.5rem;
  
 


  
  

}


.box-upper{
  background-color: var(--clr-accent);
  height: 2.2rem;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ffffff;
  font-family: var(--ff-heading);

}



.box-upper-content{
  margin-left: 1rem;
  display: inline-block;

}




.wrapper{
  display: flex;
  justify-content: end;
  top: 3px;
  right: 0;
  position: absolute;
}



.border-bordershadow{
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  box-shadow: 0 0 5px 0 black;
}

.border-bordershadow-minimzied{
  border-top: .5px solid white;
  border-right: .5px solid black;
  border-bottom: .5px solid black;
  border-left: .5px solid white;
  box-shadow: 0 0 2px 0 black;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------------*/
/*BUTTONS*/



.btn{
  letter-spacing: 1px;
  
  
}


.btn-primary{
  background-color: var(--clr-primary);
  padding: .5rem 2.5em;
}

.btn-primary:hover{
  border: 2px solid black;
  box-shadow: none;
}



.btn-icon{
  background-color: var(--clr-primary);
  line-height: 0;
  margin: 0 5px 0 5px;
 
  
}


.btn-icon:hover{
  border-width: 1.5px;
  
}


.icon{
  width: 10px;
  margin: 2px;
}


@media screen and (max-width: 480px){
  



  .box{
 
    padding: 1rem 2rem 3rem;
    font-size: 1rem;
    
  
  }


  .btn{
    letter-spacing: .5;
  }

  .btn-primary{
    padding: .25rem 1rem;;
  }


  .btn-primary:hover{
    border: 1px solid black;
   
  }
  
  
  
  .btn-icon{
    background-color: var(--clr-primary);
    line-height: 0;
    margin: 0 2.5px 0 2.5px;
   
    
  }
  
  
  .btn-icon:hover{
    border-width: 1.1px;
    
  }
  
  
  .icon{
    width: 7px;
    margin: 1px;
  }


}





.box-image{
  width: 100%;
  height: auto;
  margin: 1rem;
  border-radius: 3px;

}



.box-text{
  text-align: left;
  letter-spacing: 0.02rem;
}



.box-text::after{
  content: "...";
}

.box-content .btn{
  margin: 2rem 1rem;
}



.box-imageonly{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  
}


















.about{
  width: 100vw;
  height: 300px;
  background-color: #FFFEDD;
  position: relative;
  overflow: hidden;
}


.heading{
  text-align: center;
  
}


.about .heading{
  margin: 0;
  font-family: var(--ff-heading);
  font-size: 3rem;
  padding: 4rem 3rem 3rem;

}

.change-text {
  color: black;
  animation-name: fontChange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes fontChange {
  0% {
    font-family: 'Gtek Technology', monospace;

  }
  20% {
    font-family: 'Arcade', serif;
    color: #494784;
    font-size: 4rem;

  }
  40% {
    font-family: 'Underground', 'sans serif';
    color: #454545;
    font-size: 2rem;

  }
  60% {
    font-family: 'Monton', monospace;
    color: #07037E;
    font-size: 5rem;
    
  }
  80% {
    font-family: 'Pac Font', serif;
    color: #7a5bab;
    font-size: 4rem;

  }
  100% {
    font-family: 'Gtek technology', monospace;
    font-size: 3rem;
   

  }
}

.about-content{
  position: absolute;
  top: 10rem;
  font-family: 'Type Machine', monospace;
  font-size: 1.8rem;
  padding: 2rem;
  max-width: auto;
  
  

}


@media screen and (max-width:480px){

  .about{
    height: 200px;
  }


  .about-content{
    top: 8rem;
    font-size: 1.3rem;}



  .about .heading{
    font-size: 2rem;
  }


  @keyframes fontChange {
    0% {
      font-family: 'Gtek Technology', monospace;
  
    }
    20% {
      font-family: 'Arcade', serif;
      color: #8B2467;
      font-size: 3rem;
    }

    40% {
      font-family: 'Underground', 'sans serif';
      color: #d22805;
      font-size: 2rem;
    }

    60% {
      font-family: 'Monton', monospace;
      color: #ffffff;
      font-size: 4rem;
    }

    80% {
      font-family: 'Pac Font', serif;
      color:#9F0FB4;
      font-size: 3rem;
    }

    100% {
      font-family: 'Gtek technology', monospace;
      font-size: 2rem;
    }
  }
}


@media screen and (min-width: 540p) and (max-width:840px) {
  .about{
    height: 250px;
  }

}



.contact{
  width: 100vw;
  background-image: url(../images/views.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0rem;
  position: relative;
  height: 700px;
  


  
  
}

.form-container{

  border-radius: 10px;
  padding: 3rem;
  font-family: var(--ff-body);
  font-size: 2rem;
  color: #07037E;
  position: absolute;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  background-color: #DCDBDB;

}


input{
  padding: 1rem;
  transition: border-color 0.40s;

}

input:focus, #textarea:focus{
  outline: 0;
  border-color: #07037E;
}

#textarea{
  resize: none;
  padding: 1rem;
  transition: border-color 0.40s;
  
}

label{
  display: block;

}
.form-group{
  margin-bottom: 3rem;
}

.button-container{
  display: flex;
  justify-content: space-between;
 
}


@media screen and (max-width:480px){

  .contact{
    height: 400px;
  }


  .form-container{
    padding: 1.5rem;
    font-size: 1rem;
  
  }
  
  
  input{
    padding: 0.5rem;
  
  }
  
  
  #textarea{
    padding: 0.5rem;
    
  }
  
  .form-group{
    margin-bottom: 2rem;
  }












}