@import "../css/navbar.css";
@import "../css/main.css";
@import "../css/about.css";
@import "../css/contact.css";
@import "../css/footer.css";
@import "../css/post.css";



/* CSS reset */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removing margins from everything */
* {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol{
  list-style: none;
}

/* Removing styles from links */
a{
  text-decoration: none;
  color: inherit;
}

li{
  cursor: pointer;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

/* Set core body defaults */
body {
    height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.3;
    
  }
  
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* Setting custom properties */

/* Web unsafe fonts */
@font-face{
  font-family: "Type Machine";
  src: url(../fonts/Type-Machine.ttf);
}

@font-face{
  font-family: "Monton";
  src: url(../fonts/Monoton-Regular.ttf);
}

@font-face{
  font-family: "Pac Font";
  src: url(../fonts/PAC-FONT.TTF);
}

@font-face{
  font-family: "Underground";
  src: url(../fonts/UndergroundNF.ttf);
}

@font-face{
  font-family: "Arcade";
  src: url(../fonts/ARCADECLASSIC.TTF);
}

@font-face {
  font-family: "Gtek Technology";
  src: url(../fonts/GtekTechnology-B9aB.ttf);
}

:root{
    --ff-primary: "Gtek Technology", serif;
    --ff-text: "Type Machine", monospace;

    --ff-body: var(--ff-text);
    --ff-heading: var(--ff-primary);

    --clr-primary: #BBBCBB;
    --clr-accent: #07037E;
    --clr-light: #ffffff;
    --clr-dark: #000000;
}

::selection{
  background-color: #F2F2D1;
}

.border-bordershadow{
  border-top: 2px solid var(--clr-light);
  border-right: 2px solid var(--clr-dark);
  border-bottom: 2px solid var(--clr-dark);
  border-left: 2px solid var(--clr-light);
  box-shadow: 0 0 5px 0 var(--clr-dark);
}

.border-bordershadow-minimzied{
  border-top: .5px solid var(--clr-light);
  border-right: .5px solid var(--clr-dark);
  border-bottom: .5px solid var(--clr-dark);
  border-left: .5px solid var(--clr-light);
  box-shadow: 0 0 2px 0 var(--clr-dark);
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}


/*Navbar*/


/* Main */


/*Buttons*/
  
  
.btn{
  letter-spacing: 1px;
  max-height: 100%;
}

.btn-primary{
  background-color: var(--clr-primary);
  padding: .5rem 2.5em;
}

.btn-primary:hover{
  border: 2px solid var(--clr-dark);
  box-shadow: none;
}

.btn-icon{
  background-color: var(--clr-primary);
  line-height: 0;
  margin: 0 5px 0 5px;
}

.btn-icon:hover{
  border-width: 1.5px;
}


/* Icons */


.icon{
  width: 10px;
  margin: 2px;
}


/*About section*/


/* Contact me section */


/* Footer section */


/* End of code */