@import "navbar.css";
@import "about.css";
@import "contact.css";
@import "footer.css";
@import "post.css";


/* CSS reset */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Removing margins from everything */
* {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol{
  list-style: none;
}

/* Removing styles from links */
a{
  text-decoration: none;
  color: inherit;
}

li{
  cursor: pointer;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

/* Set core body defaults */
body {
    height: 100%;
    text-rendering: optimizeSpeed;
    line-height: 1.3;
    
  }
  
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* Setting custom properties */

/* Web unsafe fonts */
@font-face{
  font-family: "Type Machine";
  src: url(../fonts/Type\ Machine.ttf);
}

@font-face{
  font-family: "Monton";
  src: url(../fonts/Monoton-Regular.ttf);
}

@font-face{
  font-family: "Pac Font";
  src: url(../fonts/PAC-FONT.TTF);
}

@font-face{
  font-family: "Underground";
  src: url(../fonts/UndergroundNF.ttf);
}

@font-face{
  font-family: "Arcade";
  src: url(../fonts/ARCADECLASSIC.TTF);
}

@font-face {
  font-family: "Gtek Technology";
  src: url(../fonts/GtekTechnology-B9aB.ttf);
}

:root{
    --ff-primary: "Gtek Technology", serif;
    --ff-text: "Type Machine", monospace;

    --ff-body: var(--ff-text);
    --ff-heading: var(--ff-primary);

    --clr-primary: #BBBCBB;
    --clr-accent: #07037E;
    --clr-light: #ffffff;
    --clr-dark: #000000;
}

::selection{
  background-color: #F2F2D1;
}

.border-bordershadow{
  border-top: 2px solid var(--clr-light);
  border-right: 2px solid var(--clr-dark);
  border-bottom: 2px solid var(--clr-dark);
  border-left: 2px solid var(--clr-light);
  box-shadow: 0 0 5px 0 var(--clr-dark);
}

.border-bordershadow-minimzied{
  border-top: .5px solid var(--clr-light);
  border-right: .5px solid var(--clr-dark);
  border-bottom: .5px solid var(--clr-dark);
  border-left: .5px solid var(--clr-light);
  box-shadow: 0 0 2px 0 var(--clr-dark);
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
}


/*Navbar*/


/* Main */


.main{
  background: url(../images/waarmmountains.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  margin-inline: auto;
  padding: 4rem;
  font-family: var(--ff-body);
}


/*Buttons*/
  
  
.btn{
  letter-spacing: 1px;
  max-height: 100%;
}

.btn-primary{
  background-color: var(--clr-primary);
  padding: .5rem 2.5em;
}

.btn-primary:hover{
  border: 2px solid var(--clr-dark);
  box-shadow: none;
}

.btn-icon{
  background-color: var(--clr-primary);
  line-height: 0;
  margin: 0 5px 0 5px;
}

.btn-icon:hover{
  border-width: 1.5px;
}


/* Icons */


.icon{
  width: 10px;
  margin: 2px;
}


/* Hero */


.hero{
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}


/*Post*/


.post{
  background-color: #DCDBDB;
  font-family: 'Type Machine', monospace;
  padding: 3rem;
  color: #000000;
  position: relative;
  font-size: 1.5rem;
  aspect-ratio: 1/0.5;
}

.post__header{
  background-color: var(--clr-accent);
  height: 2.2rem;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ffffff;
  font-family: var(--ff-heading);
}

.post__header__content{
  margin-left: 1rem;
}

.stacked{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post__content{
  margin: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post__title{
  font-family: 'Noto Sans Mono', monospace;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.post__author, .post__time{
  font-weight: bold;
  font-style: italic;
}

.post__text{
  margin-top: 1rem;
}

.post__text::first-letter{
  font-size: large;
  font-weight: bold;
}
.post__text::after{
  content: "...";
}

.post__footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.post__img{
  width: 70%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
}

.wrapper{
  display: flex;
  justify-content: end;
  top: 3px;
  right: 0;
  position: absolute;
}


@media screen and (min-width:1000px){

  .post.featured{
    grid-row: span 2;
    grid-column: span 2;
  }
  
  
  .featured .post__img{
    aspect-ratio: 1/.5;
  }
}

@media screen and (min-width:905px) and (max-width:1500px){

  .focused{
    display: none;
  }


  .third{
  grid-row: 2/-2;
  grid-column: 1/2;
  }
}


/*About section*/


/* Contact me section */


/* Footer section */


/* End of code */