    <div class="box border-bordershadow">
        <div class="box-upper">
            <p class="box-upper-content">hello there</p>
            <div class="wrapper">
                <button class="btn btn-icon border-bordershadow-minimzied">
                    <object class="icon" data="icons/minimize.svg"></object>
                </button>
                <button class="btn btn-icon border-bordershadow-minimzied">
                    <object class="icon" data="icons/maximize.svg"></object>
                </button>
                <button class="btn btn-icon border-bordershadow-minimzied">
                    <object class="icon" data="icons/cross.svg"></object>
                </button>
            </div>
            
            
        </div>
        <p class="box-content">Hi, Jahnavi! You're cool.</p>
        
        
    </div>