<section class="post featured border-bordershadow">
    <div class="post__header">
        <p class="post__header__content">post</p>
        <div class="wrapper">
        <button class="btn btn-icon border-bordershadow-minimzied">
            <object class="icon" data="icons/minimize.svg"></object>
        </button>
        <button class="btn btn-icon border-bordershadow-minimzied">
            <object class="icon" data="icons/maximize.svg"></object>
        </button>
        <button class="btn btn-icon border-bordershadow-minimzied">
            <object class="icon" data="icons/cross.svg"></object>
        </button>
        </div>
    </div>
    <div class="post__body stacked">
        <img src="images/jameswebb.webp" alt="james webb image of space" class="post__img">
        <div class="post__content">
            <h2 class="post__title">The infinity and what's beyond.</h2>
            <p class="post__author">Jahnavi Mahajan</p>
            <p class="post__time">October 12, 2021 | 12:51 a.m.</p>
            <p class="post__text">An estimate of one hundred billion galaxies, some three hundred billion stars in the milky way alone with around thirty billion planets with all of them revolving in perfectly set orbits, with a mere 7,714,576,923 people inhabiting this marvelous expansion. I’d say that the odds are against it.
                            The answers, presumptions or even the &apos;this-is-beyond-us&apos; statements to the question of life beyond Earth have be traced</p>
        </div>
    </div>
    <div class="post__footer"><button class="post__button btn btn-primary border-bordershadow">Read More</button></div>
</section>



