    <div class="box border-bordershadow">
        <div class="box-upper">
            <p class="box-upper-content">hello there</p>
            <div class="wrapper">
                <button class="btn btn-icon border-bordershadow-minimzied">
                    <object class="icon" data="icons/minimize.svg"></object>
                </button>
                <button class="btn btn-icon border-bordershadow-minimzied">
                    <object class="icon" data="icons/maximize.svg"></object>
                </button>
                <button class="btn btn-icon border-bordershadow-minimzied">
                    <object class="icon" data="icons/cross.svg"></object>
                </button>
            </div>
            
            
        </div>
        <p class="box-content">Hi, Jahnavi! You're cool.</p>
        
        
    </div>




    <div class="box border-bordershadow one">


        <div class="box-upper">
            <p class="box-upper-content">post</p>
            <div class="wrapper">
                <button class="btn btn-icon border-bordershadow-minimzied">
                     <object class="icon" data="icons/minimize.svg"></object>
                </button>
                <button class="btn btn-icon border-bordershadow-minimzied">
                    <object class="icon" data="icons/maximize.svg"></object>
                </button>
                <button class="btn btn-icon border-bordershadow-minimzied">
                    <object class="icon" data="icons/cross.svg"></object>
                </button>
                </div>
        </div>


        <article class="box-content">
            <img src="images/starwars.jpeg" alt="An image showing star wars" class="box-image border-bordershadow-minimzied">
            <p class="box-text">I am typing so fast but its not really fast per say, but i am doing this to make sure that we can see that the text is readable and cool and fun and not fucking boring and cool this is is going to be a proof for that! See, I added that excalamation mark for fun and yeah.</p>
        </article>
    
    
    </div>




          <div class="box border-bordershadow blog-two">
            <div class="box-upper">
                <p class="box-upper-content">post</p>
                <div class="wrapper">
                    <button class="btn btn-icon border-bordershadow-minimzied">
                        <object class="icon" data="icons/minimize.svg"></object>
                    </button>
                    <button class="btn btn-icon border-bordershadow-minimzied">
                        <object class="icon" data="icons/maximize.svg"></object>
                    </button>
                    <button class="btn btn-icon border-bordershadow-minimzied">
                        <object class="icon" data="icons/cross.svg"></object>
                    </button>
                </div>
    
    
            </div>
            <article class="box-content">
                <img src="images/winter.jpeg" alt="An image showing winter" class="box-image border-bordershadow-minimzied">
                <p class="box-text">You can do anything you want man, anything you want.</p>
    
            </article>
    
    
        </div>







